@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  background-color: #1d1d1b;
}

.posts-container a {
  text-decoration: underline;
  color: #878787;
}

.posts-container a:hover {
  color: #ffffff;
}

.posts-container iframe {
  margin: 32px auto 0;
}